// reset.scss
@import "./reset.scss";
@import "./screen/greetings.scss";
@import "./screen/quote.scss";
@import "./screen/todo.scss";
@import "./screen/clock_wheather.scss";

// font
// font-family: 'Do Hyeon', sans-serif; clock.js
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
//  todolist  font-family: 'Do Hyeon', sans-serif;
//  명언 font-family: 'Do Hyeon', sans-serif;

body {
  background-color: beige;
  margin: 10px;
  height: 200vh;
}

h1 {
  color: rgb(108, 111, 117);
}

.active {
  color: tomato;
}

.hidden {
  display: none;
}
