.clock-weather_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .clock {
    font-family: "Do Hyeon", sans-serif;
    font-size: 20p;
  }
  .weather_container {
    font-family: "Do Hyeon", sans-serif;
  }
}
